.java/
.pwd.lock
ConsoleKit/
ImageMagick/
Muttrc
Muttrc.d/
NetworkManager/
PackageKit/
UPower/
X
X11/
acpi/
adduser.conf
adjtime
akonadi/
aliases
alternatives/
anacrontab
apm/
apparmor.d/
apt/apt.conf.d/
apt/listchanges.conf
apt/sources.list.save
apt/sources.list~
apt/trustdb.gpg
apt/trusted.gpg
apt/trusted.gpg.d/
apt/trusted.gpg~
at-spi2/
at.deny
ati/
avahi/
avserver.conf
bash.bashrc
bash_completion
bash_completion.d/
bindresvport.blacklist
blkid.tab
blkid.tab.old
bluetooth/
bogofilter.cf
bonobo-activation/
ca-certificates.conf
ca-certificates/
calendar/
chatscripts/
colord.conf
console-setup/
cowpoke.conf
cron.d/
cron.daily/
cron.hourly/
cron.monthly/
cron.weekly/
crontab
cups/
dbus-1/
debconf.conf
debian_version
default/acpid
default/alsa-base
default/anacron
default/avahi-daemon
default/bluetooth
default/bsdmainutils
default/cacerts
default/console-setup
default/crda
default/cron
default/dbus
default/devpts
default/dirmngr
default/exim4
default/fglrx-atieventsd
default/halt
default/hdparm
default/hwclock
default/kdm.d/
default/keyboard
default/libvirt-bin
default/libvirt-guests
default/locale
default/networking
default/nfs-common
default/nss
default/ntfs-3g
default/plymouthd
default/pulseaudio
default/rsync
default/rsyslog
default/samba
default/saned
default/schroot
default/tmpfs
default/winbind
deluser.conf
devscripts.conf
dhcp/
dhcp3/
dictionaries-common/
dirmngr/
discover-modprobe.conf
discover.conf.d/
dkms/
dpkg/
drirc
emacs/
email-addresses
environment
esound/
exim4/
fonts/
foomatic/
fstab
fuse.conf
gai.conf
gconf/
ghostscript/
gimp/
gnome-vfs-2.0/
gnome-vfs-mime-magic
groff/
group
group-
group.bak
grub.d/
gshadow
gshadow-
gshadow.bak
gssapi_mech.conf
gtk-2.0/
gtk-3.0/
hdparm.conf
host.conf
hostname
hosts
hosts.allow
hosts.deny
icedove/
iceweasel/
idmapd.conf
ifplugd/
init.d/
init/
initramfs-tools/
inittab
inputrc
insserv.conf
insserv.conf.d/
iproute2/
issue
issue.net
java-7-openjdk/
kbd/
kernel-img.conf
kernel/
ld.so.cache
ld.so.conf
ld.so.conf.d/
ldap/
libao.conf
libaudit.conf
libnl-3/
libpaper.d/
libreoffice/
libvirt/
lightdm/
locale.alias
locale.gen
localtime
logcheck/
login.defs
logrotate.conf
logrotate.d/
lynx-cur/
machine-id
magic
magic.mime
mail.rc
mailcap
mailcap.order
mailname
manpath.config
mc/
menu-methods/
menu/
mime.types
mke2fs.conf
modprobe.d/
modules
modules-load.d/
motd
mplayer/
mtab
munin/
mysql/
nanorc
netconfig
netscsid.conf
network/
networks
nsswitch.conf
obex-data-server/
odbc.ini
odbcinst.ini
openal/
os-release
pam.conf
pam.d/
papersize
passwd
passwd-
passwd.bak
perl/
pkcs11/
plymouth/
pnm2ppa.conf
polkit-1/
popularity-contest.conf
ppp/
printcap
profile
profile.d/
protocols
pulse/
python/
python2.6/
python2.7/
python3.3/
python3/
qemu-ifdown
qemu-ifup
qemu/
rarfiles.lst
rc.local
reportbug.conf
resolv.conf
resolvconf/
rmt
rpc
rsyslog.conf
samba/gdbcommands
sane.d/
sasl2/
sbuild/
schroot/
sddm.conf
securetty
security/
selinux/
sensors.d/
sensors3.conf
services
sgml/
shadow
shadow-
shadow.bak
shells
skel/
sound/
ssh/
ssl/
staff-group-for-usr-local
sudoers
sudoers.d/
sysctl.conf
systemd/
terminfo/
texmf/
timezone
ts.conf
ucf.conf
udev/
updatedb.conf
usb_modeswitch.conf
vdpau_wrapper.cfg
vga/
vim/
w3m/
wgetrc
wildmidi/
wodim.conf
wpa_supplicant/
xdg/
xml/
